# Flutter-related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Web-related
node_modules/
dist/
coverage/

# General
.DS_Store
*.log
.env*
!.env.example

# IDE-specific
.idea/
.vscode/
*.iml
